body
{ 
  margin : 0;
}


div.main-header 
{  
  margin : 0.2em 0.2em 0em 0.2em;
  padding : 0.1em 3em;
  border: 2px solid;
}


div.main-header h1
{  
  margin : 0em;
  padding : 0em;
  clear : none;
}

div.main-header .slogan
{  
  padding : 0em;
  margin : 0em;
  text-align : right;
}




div.main-header a:link, div.main-header a:visited
{  
  text-decoration : none;
}

div.main-header h1 a:active, div.main-header a:hover
{  
  text-decoration : underline;
}

div.footer 
{  
  clear: both;
}


div.menu 
{ 
  margin: 0;
  margin-top: 1em;
  line-height: 1.1;
  position: absolute;
  top: auto;
  right: auto;
  left: 0.2em;
  width : 8.4em;
  border : 2px solid;
}


div.menu UL 
{ 
  list-style-type : none;
  padding: 0.1em;
  font-size: smaller;
}

div.menu div.login 
{ 
  margin-top: 0.3em;
  padding: 0.1em;
  padding-bottom: 0.3em;
  font-size: smaller;
}


div.menu input 
{ 
  width: 8em;
}


div.main
{ 
  margin-left: 9em;
  border-left: 1px dotted; 
  padding: 1em;
  clear: both;
}

div.menu-section ul li
{ 
  padding-left: 0;
}


h2#sectionhead, h2.pagetitle
{
  padding: 0.6em 1em 0;
  float: left;
  border-left: 1px dotted; 
  margin: 0 0 0 6em;
}

div.editor-ok, div.editor-not-ok 
{ 
  border: 2px solid;
  margin: 0;
  margin-bottom: 1em;
  padding: 0.2em 1em;
}

div.editor-ok h3, div.editor-not-ok h3 
{ 
  margin-top: 0em;
  padding: 0em;
}


div.byline, div.catinfo, div.timeinfo, div#byline, div#catinfo, div#timeinfo
{  
  font-size: smaller;
}

div.minicontent, div.content
{  
  margin: 0.5em 0em;
}

div.editlink
{  
  text-align : right;
}

div.main div.control 
{  
  margin-bottom: 1em;
}

div.main div.control label
{  
  font-weight: bold;
}

div.main div.control p
{  
  font-style: italic;
  margin: 0.4em 1em;
}

div.reply div.reply
{  
  margin-left: 2em;
}